*{
    margin: 0;
    padding: 0;
}



#menu {
    background-color: rgb(77, 162, 247);
    padding: 5px 15px;

}

#logo{
    float:inline-end;
    
}

 

#menu li {
    display:  inline-flex;
    align-items: center;
    list-style: none;
    padding: 5px;
    font: bold 14px verdana, sans-serif ;
    background-color: rgb(58, 58, 58);

}



#seccion  {
    display: inline-block;
    background:royalblue;
    align-items: center;
    
    
}

#cabecera {
    text-align: center;
    margin: 30px auto;
    
}

#descripcion {
   float: left;
    width: 400px;
    height:300px;   
    background: rgb(123, 169, 170);
    padding: 20px;
    border-radius: 30px;
    margin:30px;
    font-family: 'Balsamiq Sans', cursive;
    

    -webkit-border-radius: 20px 10px 30px 50px;
    border-radius: 20px;

    box-shadow: rgb(60, 49, 158) 15px 15px 10px inset; /*sombra */
    background: rgba(123, 227, 235, 0.5);

        
}

img{
    width: 400px;

}


 #imagen {
    float: right;
    width: 400px;
    height:300px;
    /*background:rgb(190, 190, 192);*/
    padding: 20px;
    margin: 30px;
    
     
}

@font-face {
    font-family:"fuente" ;
    src: url(../fonts/Boogaloo-Regular.ttf);
}

#descripcion2 {
    float: right;
     width: 400px;
     height:300px;
     background:rgb(123, 169, 170);
     padding: 20px;
     margin: 30px;
     border-radius: 20px ;
     font-family: "fuente";
    
     box-shadow: 20px 20px 10px rgb(58, 58, 58);
 }
 
  #imagen2 {
     float: left;
     width: 400px;
     height:300px;   
     /*background: rgb(153, 156, 156);*/
     padding: 20px;
     margin:30px;
     border: 2px solid, black;
      
 }

 #pie {
    clear: both; /* quitar elementos heradados para etiquetas */
    text-align: center;
    background-color: gray;
    padding: 20px;
    border-top: 2px solid, gray;
}

